@charset "UTF-8";

*{margin: 0; padding: 0; box-sizing: border-box;}
a{text-decoration: none; color: inherit;}
ul, li, ol{list-style: none;}

body{
    background-color: #fff;
    color: #222328;
    font-size: 14px;
    font-family: "돋움";
}

#wrap{width: 1200px; margin: 0 auto;}

#header{
    width: 100%;
    height: 80px;
    background-color: #a29f9f;
} 

.head{
    overflow: hidden;
}

.my_head{
    margin-left: 100px;
}

.my_head >li{
    float: left;
    padding-left: 45px;
    padding-right: 150px;

}

.my_head > li> a{
}

.my_head > li:first-child{
    padding-top: 10px;
}

.my_head > li:last-child >a{
    display: block;
    width: 150px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-family: "굴림";
    color: white;
}

#contents{
    width: 100%;
    height: 550px;
    margin: 0 auto;
    overflow: hidden;
}

.f_pro{
    overflow: hidden;
    float: left;
}

.f_pro1 > li{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 30px;
    width: 120px;
    background-color: #a29f9f;


}

.f_pro1 > li:first-child > img{
    padding-left: 30px;
    padding-bottom: 50px;
}

.f_pro1 > li:last-child{
    padding-bottom: 50px;
}
.f_pro1 > li >a{
    border-radius: 10px;
    display: block;
    width: 100px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: rgb(99, 97, 97);
    font-size: 20px;
    font-weight: bold;
    font-family: "굴림";
    color: #fff;
}

.f_pro1 > li:hover >a{
    background-color: rgba(0,0,0,.5);
    color: white;
}

.f_pro1 > .f_pro07{

}

.s_pro{
    overflow: hidden;
    float: right;
    margin-right: 180px;
}

.s_pro1 > li{
    float: left;
    display: block;
    width: 150px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    font-family: 굴림;
    color: #222328;
    border-bottom: 2px solid #7e7f83;
}

#footer{
    margin-top: 100px;
    width: 100%;
    height: 150px;
    background-color: #a29f9f;
}

.foot{
    height: 200px;
    background-color: black;
    color: white;
    margin: 50px auto 0;
    font-size: 20px;
    text-align: center;
    
}
.f_m{}
.f_m li{
    display: inline-block;
    padding: 30px;
}
.f_m li a{
    display: block;
    /* border: 1px solid darkcyan; */
}
.foot p{
    font-size: 15px;
    margin-bottom: 30px;
}
.foot .f_p{
    font-size: 15px;
    text-align: center;
}
.foot .f_p span{
    width: 25px;
    height: 25px;
    display: inline-block;
}
.footf .f_p span img{
    width: 100%;
}