@charset "UTF-8";

.sr {
	overflow: hidden;
	margin-left: 0px;
	margin-top: 0px;
	border: 1px solid #000;
}
.sr>tr{
		
	
}


.sr>tr>td {
	    float: left; 
	    box-sizing: border-box;
	padding-right: 1px;
	font-size: 20px;
	font-weight: 300;
	font-family: "맑은고딕";
	text-align: left;
	    
}
